<div class="row">
            <div class="col-lg-12 text-center">
                <h1>Choose your programming language!</h1>
            </div>
        </div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"> <img src="<%= image_path ('java-logo.png') %>" width="50px" height="50px"><img> </div>
                    <div class="info">
                        <h3 class="title" style="color:purple">Java</h3>
                        <p>
                            Concurrent, and object-oriented,specifically designed to have as few implementation dependencies as possible, "write once, run anywhere".
                        </p>
                        <div class="more">
                            <a href="/practice/java"  class="btn btn-java">Choose Java<i class="fa fa-plus"></i> 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"> <img src="<%= image_path ('ruby-logo.png') %>" width="40px" height="40px"><img> </div>
                    <div class="info">
                        <h3 class="title" style="color:red">Ruby</h3>
                        <p>
                             Dynamic, reflective, object-oriented, general-purpose programming language. Designed for programmer productivity and fun, following the principles of good user interface design.
                        </p>
                        <div class="more">
                            <a href="/practice/ruby"  class="btn btn-danger">Choose Ruby<i class="fa fa-plus"></i> 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"> <center> <img src="<%= image_path ('js-logo.png') %>" width="40px" height="40px"><img> <center> </div>
                    <div class="info">
                        <h3 class="title" style="color:gold;">Javascript</h3>
                        <p>
                            Dynamic computer programming language. Most commonly used as part of web browsers, whose implementations allow client-side scripts to interact with the user.
                        </p>
                        <div class="more">
                            <a href="/practice/javascript"  class="btn btn-warning">Choose Javascript<i class="fa fa-plus"></i> 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"> <center> <img src="<%= image_path ('python-logo.png') %>" width="40px" height="40px"><img> <center> </div>
                    <div class="info">
                        <h3 class="title" style="color:blue">Python</h3>
                        <p>
                            Widely used general-purpose, high-level programming language.Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in just a few lines.
                        </p>
                        <div class="more">
                            <a href="/practice/python"  style="color:blue" class="btn btn-primary my-btn">Choose Python<i class="fa fa-plus"></i> 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </div>
</div>
