<%= javascript_include_tag "https://ancient-lowlands-4557.herokuapp.com/faye.js" %>
<%= javascript_include_tag "ruby_lobby.js" %>

<h1> <center>Waiting for opponent... </center></h1>

<style>
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url(<%= image_path ('page-loader.gif') %>) 50% 50% no-repeat rgb(249,249,249);
}
</style>

<div class="loader"></div>